/* Main CSS Start */
*{
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
	height: auto;
}
body{
	font-family: ;
}
h1,h2,h3,h4,h5,h6{
	margin: 0 0 15px;
	font-weight: 700;
}
a:hover{
	text-decoration: none;
}
/* Main CSS Stop */
/* Wedding Profile Details Start */
.section-padding {
	padding: 100px 0;
}
.section-title {
  text-align: center;
  margin-bottom: 50px;
}
.section-img img {
  max-width: 70%;
}
.section-img {
  text-align: right;
}
.section-text {
	border: 10px solid #eeeeee;
	position: relative;
	max-width: 450px;
	margin-top: -100px;
	background: #fff;
	padding: 40px 40px 40px 20px;
}
.social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background: #efefef;
  text-align: center;
  border-radius: 50%;
  line-height: 40px;
  font-size: 16px;
  margin:5px 0;
}
.social-links {
  position: absolute;
  right: -24px;
  width: 40px;
  height: 100%;
  top: 0;
  display: table;
}
.social-links-wrap {
  display: table-cell;
  vertical-align: middle;
}
.right-side .section-img {
  text-align: left;
}
.right-side .section-text {
	float: right;
	padding-right: 20px;
	padding-left: 40px;
}
.right-side .social-links {
  right: auto;
  left: -24px;
}
.section-text h2 {
	text-align: center;
}
/* Wedding Profile Details Stop */